
func (m migrate) {{.Name}}(mode string, dbConn *gorm.DB) {
  defer migrator.UpdateMigrations(dbConn,mode)
  switch mode {
    case "up":
    	// Write UP migration here.
    case "down":
    	// Write DOWN migration here.
  }
}
