package route

import (
  "gitlab.com/ajithnn/baana/router"
  "{{ .ImportPath}}/controllers"
)

func Init() {
{{ range $index , $value := .ControllerList }}
router.ControllerFunc["{{ $value }}"] = controllers.{{ $value }}
{{ end }}
}

