package route

{{ if gt (len .ControllerList) 0}}
import (
  "gitlab.com/ajithnn/baana/service"
  "{{ .ImportPath}}/controllers"
)
{{ end }}

func Init() {
{{ range $index , $value := .ControllerList }}
service.ControllerFuncs["{{ $value }}"] = controllers.{{ $value }}
{{ end }}
}

